/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:1aad635827e256e81afd70a09b2a0b01:f77da80abdcbea0c4702b5c7367ff033:0b6ab4d9640bdc9f21f1dcd47a004614$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(lxu_texture1.png);}

.lxu_3_10071 {width:300px; height:300px; background-position: -0px -0px}
.lxu_3_10072 {width:300px; height:300px; background-position: -300px -0px}
.lxu_3_10073 {width:300px; height:300px; background-position: -600px -0px}
.lxu_3_10074 {width:300px; height:300px; background-position: -900px -0px}
.lxu_3_10075 {width:300px; height:300px; background-position: -1200px -0px}
.lxu_3_10076 {width:300px; height:300px; background-position: -1500px -0px}
.lxu_3_10077 {width:300px; height:300px; background-position: -0px -300px}
.lxu_3_10078 {width:300px; height:300px; background-position: -300px -300px}
.lxu_3_10079 {width:300px; height:300px; background-position: -600px -300px}
.lxu_3_10080 {width:300px; height:300px; background-position: -900px -300px}
.lxu_3_10081 {width:300px; height:300px; background-position: -1200px -300px}
.lxu_3_10082 {width:300px; height:300px; background-position: -1500px -300px}
.lxu_3_10083 {width:300px; height:300px; background-position: -0px -600px}
.lxu_3_10084 {width:300px; height:300px; background-position: -300px -600px}
.lxu_3_10085 {width:300px; height:300px; background-position: -600px -600px}
.lxu_3_10086 {width:300px; height:300px; background-position: -900px -600px}
.lxu_3_10087 {width:300px; height:300px; background-position: -1200px -600px}
.lxu_3_10088 {width:300px; height:300px; background-position: -1500px -600px}
.lxu_3_10089 {width:300px; height:300px; background-position: -0px -900px}
.lxu_3_10090 {width:300px; height:300px; background-position: -300px -900px}
.lxu_3_10091 {width:300px; height:300px; background-position: -600px -900px}
.lxu_3_10092 {width:300px; height:300px; background-position: -900px -900px}
.lxu_3_10093 {width:300px; height:300px; background-position: -1200px -900px}
.lxu_3_10094 {width:300px; height:300px; background-position: -1500px -900px}
.lxu_3_10095 {width:300px; height:300px; background-position: -0px -1200px}
.lxu_3_10096 {width:300px; height:300px; background-position: -300px -1200px}
.lxu_3_10097 {width:300px; height:300px; background-position: -600px -1200px}
.lxu_3_10098 {width:300px; height:300px; background-position: -900px -1200px}
.lxu_3_10099 {width:300px; height:300px; background-position: -1200px -1200px}
.lxu_3_10100 {width:300px; height:300px; background-position: -1500px -1200px}
.lxu_3_10101 {width:300px; height:300px; background-position: -0px -1500px}
.lxu_3_10102 {width:300px; height:300px; background-position: -300px -1500px}
.lxu_3_10103 {width:300px; height:300px; background-position: -600px -1500px}
.lxu_3_10104 {width:300px; height:300px; background-position: -900px -1500px}
.lxu_3_10105 {width:300px; height:300px; background-position: -1200px -1500px}
.lxu_3_10106 {width:300px; height:300px; background-position: -1500px -1500px}
