/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:c3fe0883f57ff9abb0b82fcc31ff8347:536ee03c0621a21efae40e92b133b6ee:7694a1ef5522daa6b02f1bac8f6df61e$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(lxu_texture0.png);}

.lxu_3_10034 {width:300px; height:300px; background-position: -0px -0px}
.lxu_3_10035 {width:300px; height:300px; background-position: -300px -0px}
.lxu_3_10036 {width:300px; height:300px; background-position: -600px -0px}
.lxu_3_10037 {width:300px; height:300px; background-position: -900px -0px}
.lxu_3_10038 {width:300px; height:300px; background-position: -1200px -0px}
.lxu_3_10040 {width:300px; height:300px; background-position: -1500px -0px}
.lxu_3_10041 {width:300px; height:300px; background-position: -0px -300px}
.lxu_3_10042 {width:300px; height:300px; background-position: -300px -300px}
.lxu_3_10043 {width:300px; height:300px; background-position: -600px -300px}
.lxu_3_10044 {width:300px; height:300px; background-position: -900px -300px}
.lxu_3_10045 {width:300px; height:300px; background-position: -1200px -300px}
.lxu_3_10046 {width:300px; height:300px; background-position: -1500px -300px}
.lxu_3_10047 {width:300px; height:300px; background-position: -0px -600px}
.lxu_3_10048 {width:300px; height:300px; background-position: -300px -600px}
.lxu_3_10049 {width:300px; height:300px; background-position: -600px -600px}
.lxu_3_10050 {width:300px; height:300px; background-position: -900px -600px}
.lxu_3_10051 {width:300px; height:300px; background-position: -1200px -600px}
.lxu_3_10052 {width:300px; height:300px; background-position: -1500px -600px}
.lxu_3_10053 {width:300px; height:300px; background-position: -0px -900px}
.lxu_3_10054 {width:300px; height:300px; background-position: -300px -900px}
.lxu_3_10055 {width:300px; height:300px; background-position: -600px -900px}
.lxu_3_10056 {width:300px; height:300px; background-position: -900px -900px}
.lxu_3_10057 {width:300px; height:300px; background-position: -1200px -900px}
.lxu_3_10058 {width:300px; height:300px; background-position: -1500px -900px}
.lxu_3_10059 {width:300px; height:300px; background-position: -0px -1200px}
.lxu_3_10060 {width:300px; height:300px; background-position: -300px -1200px}
.lxu_3_10061 {width:300px; height:300px; background-position: -600px -1200px}
.lxu_3_10062 {width:300px; height:300px; background-position: -900px -1200px}
.lxu_3_10063 {width:300px; height:300px; background-position: -1200px -1200px}
.lxu_3_10064 {width:300px; height:300px; background-position: -1500px -1200px}
.lxu_3_10065 {width:300px; height:300px; background-position: -0px -1500px}
.lxu_3_10066 {width:300px; height:300px; background-position: -300px -1500px}
.lxu_3_10067 {width:300px; height:300px; background-position: -600px -1500px}
.lxu_3_10068 {width:300px; height:300px; background-position: -900px -1500px}
.lxu_3_10069 {width:300px; height:300px; background-position: -1200px -1500px}
.lxu_3_10070 {width:300px; height:300px; background-position: -1500px -1500px}
